{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% translate "Statuses" %}</h1>
<p><a href="{% url 'status_create' %}">{% translate "Create status" %}</a></p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Creation date" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for status in statuses %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          {% csrf_token %}
        <a href="{% url 'status_update' pk=status.id %}" style="margin: 1%;" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">
          {% translate 'Change data' %}
        </a>
        {% csrf_token %}
        <a href="{% url 'status_delete' pk=status.id %}" style="margin: 1%;" class="btn btn-primary btn-lg active btn-sm" role="button" aria-pressed="true">
          {% translate "Delete data" %}
        </a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
</table>
  </div>
{% endblock %}